<%- include('layouts/header.ejs') %>
<%- include('layouts/navigation.ejs') %>
<div class="container">
    <h1>Add Student Page</h1>
    <form action="/add-student" method="POST">
        <div class="form-group">
          <label for="nisn">NISN</label>
          <input type="text" class="form-control" id="nisn" name="nisn">
        </div>
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name" name="name">
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="text" class="form-control" id="email" name="email">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <a href="/" class="btn btn-danger">Cancel</a>
    </form>
</div>
<%- include('layouts/footer.ejs') %>